<div class="container">
  <div class="panel">
    <div class="panel-header">
      <span class="panel-title"> Ship List</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-stripped table-responsive table-bordered">
            <thead>
            <th> Ship Code</th>
            <th> Name </th>
            <th> length In Meters </th>
            <th> Width In Meters </th>
            <th> Actions </th>
            </thead>
            <tbody>
            <tr *ngFor="let ship of ships">
              <td>{{ship.shipCode}} </td>
              <td>{{ship.shipName}} </td>
              <td>{{ship.shipLengthInMeters}} </td>
              <td>{{ship.shipWidthInMeters}} </td>
              <td>
                <app-actions [isDeleteEnabled]="true" [isEditEnabled]="true" (onEditClicked)="editShip(ship.shipCode)" (onDeleteClicked)="deleteShip(ship.shipCode)"></app-actions>
                <!--<button class="btn btn-sm btn-primary" (click)="editShip(ship.shipCode)"> Edit
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteShip(ship.shipCode)"> Delete
                </button> -->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
